[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sty = "*"


[dev-packages]

pytest = "==3.2.0"
buildlib = "==1.0.4"
cmdinter = "==1.0.6"
headlines = "==0.0.0a5"
prmt = "==0.0.0a8"
"ruamel.yaml" = "==0.15.34"


[requires]

python_version = "3.6"
